if(tools:::.OStype() == "unix"){
  useDynLib(fame)
}

export(fameCommand, fameDbClose, fameDbOpen, fameDeleteObject,
       fameRunning, fameStart, fameStatusMessage, fameState, fameStop, fameWhat,
       fameWhats, fameWildlist, fameWriteSeries, getfame, getFameAttribute, 
       getFameCreated, getFameUpdated, isFameScalar, putfame, runningLinux,
       runningWindows, tifToFameName, user)

## not exported
## convertFreqCode, fameBasiss, fameClasses, fameDate, fameDateString,
## fameDateToTi, fameObserveds, fameToTif, fameTypes, fameModeInt, fameRange,
## fameYmd, getFamePath, isScalarOrTis, mightBeFameServer, setFameState

